html, body {
  background-color: #151515;
  overflow: hidden;
}

.separator {
  vertical-align: top;
  margin-top: 50px;
}

.tracks_list {
  font-family: serif;
  color: #F0F0F0;
  list-style: none;
}

.track {
  margin: 30px;
  border-radius: 1px;
  background-color: red;
}

#title {
  position: absolute;
  color: #F0F0F0;
  font-size: xx-large;
  font-family: serif;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#my_dataviz {
  text-align: center;
}





